.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}
 
.search-result li:hover {
	color: #ccc;
	background-color: #607D8B;
}
 
#search-box {
  width: 204px;
  height: 20px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

#search-component p a {
	text-decoration: underline;
}